In [74]:
import pandas as pd

In [75]:
macro = pd.read_excel('US_Housing_Macro_Analysis.xlsx', sheet_name='Average Revenue of US Home sale')
macro

   Home Sales Revenue Unnamed: 1 Unnamed: 2 Unnamed: 3
0                 NaN        NaN        NaN        NaN
1         Annual Data        NaN        NaN        NaN
2                 NaN        NaN        NaN        NaN
3              Period    Median     Average    Average
4                1963   10080000   10808000        NaN
..                ...        ...        ...        ...
58               2017  198060300  235943700        NaN
59               2018  201388800  237545000        NaN
60               2019  219584500  262203700        NaN
61               2020  276931800  322141800        NaN
62               2021  306164100  357898200        NaN

[63 rows x 4 columns]

In [76]:
macro = macro.iloc[3:]
macro

   Home Sales Revenue Unnamed: 1 Unnamed: 2 Unnamed: 3
3              Period    Median     Average    Average
4                1963   10080000   10808000        NaN
5                1964   10678500   11582500        NaN
6                1965   11500000   12362500        NaN
7                1966    9865400   10741300        NaN
8                1967   11054900   11980200        NaN
9                1968   12103000   13034000        NaN
10               1969   11468800   12499200        NaN
11               1970   11349000   12901000        NaN
12               1971   16531200   18564800        NaN
13               1972   19816800   21899000        NaN
14               1973   20605000   22507000        NaN
15               1974   18632100   20189100        NaN
16               1975   21575700   23387400        NaN
17               1976   28553200   31008000        NaN
18               1977   39967200   44389800        NaN
19               1978   45506900   51062500        NaN
20               1979   44596100   50906200        NaN
21               1980   35207000   41638000        NaN
22               1981   30040400   36188000        NaN
23               1982   28551600   34566800        NaN
24               1983   46911900   55945400        NaN
25               1984   51056100   62366400        NaN
26               1985   57998400   69350400        NaN
27               1986   69000000   83925000        NaN
28               1987   70119500   85351200        NaN
29               1988   76050000   93490800        NaN
30               1989   78000000   96720000        NaN
31               1990   65628600   79993200        NaN
32               1991   61080000   74924800        NaN
33               1992   74115000   87901000        NaN
34               1993   84249000   98368200        NaN
35               1994   87100000  103515000        NaN
36               1995   89311300  105852900        NaN
37               1996  105980000  125964800        NaN
38               1997  117384000  141664800        NaN
39               1998  135115000  161163400        NaN
40               1999  141680000  172128000        NaN
41               2000  148213000  181539000        NaN
42               2001  159081600  193585600        NaN
43               2002  182534800  222525100        NaN
44               2003  211770000  267481800        NaN
45               2004  265863000  330223500        NaN
46               2005  309074700  381051000        NaN
47               2006  259071500  321500900        NaN
48               2007  192370400  243353600        NaN
49               2008  112568500  141911000        NaN
50               2009   81262500  101587500        NaN
51               2010   71641400   88146700        NaN
52               2011   69523200   81977400        NaN
53               2012   90233600  107529600        NaN
54               2013  115358100  139210500        NaN
55               2014  126074500  151944900        NaN
56               2015  147394200  176702700        NaN
57               2016  172675800  202464900        NaN
58               2017  198060300  235943700        NaN
59               2018  201388800  237545000        NaN
60               2019  219584500  262203700        NaN
61               2020  276931800  322141800        NaN
62               2021  306164100  357898200        NaN

In [77]:
macro.drop(columns='Unnamed: 3', inplace= True)
macro

/var/folders/zq/0hmyg29903n1xkl833j8x3h00000gn/T/ipykernel_90756/3377252478.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  macro.drop(columns='Unnamed: 3', inplace= True)

   Home Sales Revenue Unnamed: 1 Unnamed: 2
3              Period    Median     Average
4                1963   10080000   10808000
5                1964   10678500   11582500
6                1965   11500000   12362500
7                1966    9865400   10741300
8                1967   11054900   11980200
9                1968   12103000   13034000
10               1969   11468800   12499200
11               1970   11349000   12901000
12               1971   16531200   18564800
13               1972   19816800   21899000
14               1973   20605000   22507000
15               1974   18632100   20189100
16               1975   21575700   23387400
17               1976   28553200   31008000
18               1977   39967200   44389800
19               1978   45506900   51062500
20               1979   44596100   50906200
21               1980   35207000   41638000
22               1981   30040400   36188000
23               1982   28551600   34566800
24               1983   46911900   55945400
25               1984   51056100   62366400
26               1985   57998400   69350400
27               1986   69000000   83925000
28               1987   70119500   85351200
29               1988   76050000   93490800
30               1989   78000000   96720000
31               1990   65628600   79993200
32               1991   61080000   74924800
33               1992   74115000   87901000
34               1993   84249000   98368200
35               1994   87100000  103515000
36               1995   89311300  105852900
37               1996  105980000  125964800
38               1997  117384000  141664800
39               1998  135115000  161163400
40               1999  141680000  172128000
41               2000  148213000  181539000
42               2001  159081600  193585600
43               2002  182534800  222525100
44               2003  211770000  267481800
45               2004  265863000  330223500
46               2005  309074700  381051000
47               2006  259071500  321500900
48               2007  192370400  243353600
49               2008  112568500  141911000
50               2009   81262500  101587500
51               2010   71641400   88146700
52               2011   69523200   81977400
53               2012   90233600  107529600
54               2013  115358100  139210500
55               2014  126074500  151944900
56               2015  147394200  176702700
57               2016  172675800  202464900
58               2017  198060300  235943700
59               2018  201388800  237545000
60               2019  219584500  262203700
61               2020  276931800  322141800
62               2021  306164100  357898200

In [78]:
macro = macro.rename(columns={'Home Sales Revenue': 'Period', 'Unnamed: 1': 'Median', 'Unnamed: 2': 'Average'})
macro = macro.iloc[1:]

In [79]:
macro = macro.rename(columns={'period': 'Period'})

In [80]:
macro = macro.set_index('Period')
macro

/Users/ryanandrade/opt/anaconda3/envs/DataScience/lib/python3.10/site-packages/pandas/core/indexes/base.py:6982: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  return Index(sequences[0], name=names)

           Median    Average
Period
1963     10080000   10808000
1964     10678500   11582500
1965     11500000   12362500
1966      9865400   10741300
1967     11054900   11980200
1968     12103000   13034000
1969     11468800   12499200
1970     11349000   12901000
1971     16531200   18564800
1972     19816800   21899000
1973     20605000   22507000
1974     18632100   20189100
1975     21575700   23387400
1976     28553200   31008000
1977     39967200   44389800
1978     45506900   51062500
1979     44596100   50906200
1980     35207000   41638000
1981     30040400   36188000
1982     28551600   34566800
1983     46911900   55945400
1984     51056100   62366400
1985     57998400   69350400
1986     69000000   83925000
1987     70119500   85351200
1988     76050000   93490800
1989     78000000   96720000
1990     65628600   79993200
1991     61080000   74924800
1992     74115000   87901000
1993     84249000   98368200
1994     87100000  103515000
1995     89311300  105852900
1996    105980000  125964800
1997    117384000  141664800
1998    135115000  161163400
1999    141680000  172128000
2000    148213000  181539000
2001    159081600  193585600
2002    182534800  222525100
2003    211770000  267481800
2004    265863000  330223500
2005    309074700  381051000
2006    259071500  321500900
2007    192370400  243353600
2008    112568500  141911000
2009     81262500  101587500
2010     71641400   88146700
2011     69523200   81977400
2012     90233600  107529600
2013    115358100  139210500
2014    126074500  151944900
2015    147394200  176702700
2016    172675800  202464900
2017    198060300  235943700
2018    201388800  237545000
2019    219584500  262203700
2020    276931800  322141800
2021    306164100  357898200

In [81]:
macro = macro/1000000
macro

          Median   Average
Period
1963       10.08    10.808
1964     10.6785   11.5825
1965        11.5   12.3625
1966      9.8654   10.7413
1967     11.0549   11.9802
1968      12.103    13.034
1969     11.4688   12.4992
1970      11.349    12.901
1971     16.5312   18.5648
1972     19.8168    21.899
1973      20.605    22.507
1974     18.6321   20.1891
1975     21.5757   23.3874
1976     28.5532    31.008
1977     39.9672   44.3898
1978     45.5069   51.0625
1979     44.5961   50.9062
1980      35.207    41.638
1981     30.0404    36.188
1982     28.5516   34.5668
1983     46.9119   55.9454
1984     51.0561   62.3664
1985     57.9984   69.3504
1986        69.0    83.925
1987     70.1195   85.3512
1988       76.05   93.4908
1989        78.0     96.72
1990     65.6286   79.9932
1991       61.08   74.9248
1992      74.115    87.901
1993      84.249   98.3682
1994        87.1   103.515
1995     89.3113  105.8529
1996      105.98  125.9648
1997     117.384  141.6648
1998     135.115  161.1634
1999      141.68   172.128
2000     148.213   181.539
2001    159.0816  193.5856
2002    182.5348  222.5251
2003      211.77  267.4818
2004     265.863  330.2235
2005    309.0747   381.051
2006    259.0715  321.5009
2007    192.3704  243.3536
2008    112.5685   141.911
2009     81.2625  101.5875
2010     71.6414   88.1467
2011     69.5232   81.9774
2012     90.2336  107.5296
2013    115.3581  139.2105
2014    126.0745  151.9449
2015    147.3942  176.7027
2016    172.6758  202.4649
2017    198.0603  235.9437
2018    201.3888   237.545
2019    219.5845  262.2037
2020    276.9318  322.1418
2021    306.1641  357.8982

In [82]:
macro.insert(loc= 2, column='Years of Gain', value='Nan')
macro

          Median   Average Years of Gain
Period
1963       10.08    10.808           Nan
1964     10.6785   11.5825           Nan
1965        11.5   12.3625           Nan
1966      9.8654   10.7413           Nan
1967     11.0549   11.9802           Nan
1968      12.103    13.034           Nan
1969     11.4688   12.4992           Nan
1970      11.349    12.901           Nan
1971     16.5312   18.5648           Nan
1972     19.8168    21.899           Nan
1973      20.605    22.507           Nan
1974     18.6321   20.1891           Nan
1975     21.5757   23.3874           Nan
1976     28.5532    31.008           Nan
1977     39.9672   44.3898           Nan
1978     45.5069   51.0625           Nan
1979     44.5961   50.9062           Nan
1980      35.207    41.638           Nan
1981     30.0404    36.188           Nan
1982     28.5516   34.5668           Nan
1983     46.9119   55.9454           Nan
1984     51.0561   62.3664           Nan
1985     57.9984   69.3504           Nan
1986        69.0    83.925           Nan
1987     70.1195   85.3512           Nan
1988       76.05   93.4908           Nan
1989        78.0     96.72           Nan
1990     65.6286   79.9932           Nan
1991       61.08   74.9248           Nan
1992      74.115    87.901           Nan
1993      84.249   98.3682           Nan
1994        87.1   103.515           Nan
1995     89.3113  105.8529           Nan
1996      105.98  125.9648           Nan
1997     117.384  141.6648           Nan
1998     135.115  161.1634           Nan
1999      141.68   172.128           Nan
2000     148.213   181.539           Nan
2001    159.0816  193.5856           Nan
2002    182.5348  222.5251           Nan
2003      211.77  267.4818           Nan
2004     265.863  330.2235           Nan
2005    309.0747   381.051           Nan
2006    259.0715  321.5009           Nan
2007    192.3704  243.3536           Nan
2008    112.5685   141.911           Nan
2009     81.2625  101.5875           Nan
2010     71.6414   88.1467           Nan
2011     69.5232   81.9774           Nan
2012     90.2336  107.5296           Nan
2013    115.3581  139.2105           Nan
2014    126.0745  151.9449           Nan
2015    147.3942  176.7027           Nan
2016    172.6758  202.4649           Nan
2017    198.0603  235.9437           Nan
2018    201.3888   237.545           Nan
2019    219.5845  262.2037           Nan
2020    276.9318  322.1418           Nan
2021    306.1641  357.8982           Nan